.about{
    height: auto; 
    padding: 5em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.about .sectionTitle{
    font-family: "Pecita";
    font-size: 80px;
    min-width: 500px;
}

.about .bioInfo{
     
    display: flex;
    flex-direction: column; 
    justify-content:center;
 
}
 
.about .bioInfo label{
    font-size: 15px;
    opacity: 0.5;
}


.about .bioInfo .options{
    padding:1em 0 0.5em 0  ;
}


.about .bioInfo .bio{
    padding: 1em;
    max-width: 500px;
    min-width: 300px;
    text-align: justify;
}

input[type="radio"] { 
    -webkit-appearance: none; 
    appearance: none;
    background-color: var(--form-background); 
    margin:  0 0.5em 0 0.5em; 
    color: var(--black);
    width: 0.8em;
    height: 0.8em;
    border: 2px solid var(--black);
    border-radius: 50%; 
     place-content: center; 
  }
  
  
  
  input[type="radio"]:checked{
    background-color: var(--black); 

  }
  
  input[type="radio"]:focus {
    border: 2px solid var(--black);
  }